<section class="content-header">



    <div class="row">
        <div class="col-md-12" style="margin-bottom: 0px;">

            <style>
                .breadcrumb-item {
                    display: inline;
                    list-style: none;
                }
            </style>

            <h1 class="pull-left pagetitle" style="font-size: 22px; margin-top: 5px;">

                <ul style="padding-left: 0;">

                    <li class="breadcrumb-item">
                        <a href="/Home/Index">
                            <i class="fa-solid fa-house" aria-hidden="true"></i><span class="sr-only">Admin</span>
                        </a>
                        <i class="fas fa-angle-right" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item active">
                        Admin
                    </li>

                </ul>

            </h1>

        @*     <div class="pull-right">
                <a href="/Company/Create" class="btn btn-primary pull-right">
                    Create New
                </a>
            </div> *@

        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-lg-3 col-sm-6 col-xl-2">
                <div class="box box-secondary box-outline">

                    <div class="box-body">
                        <div class="text-center">
                            <i class="fa-solid fa-users fa-4x text-hlb-main" aria-hidden="true"></i>
                            <br />
                            <br />
                            <a class="text-hlb-main" href="/User" style="cursor:pointer;">
                                <span class="h6">Users</span>
                            </a>
                            <br />
                            <span class="h7">Accounts Permission</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-3 col-sm-6 col-xl-2">
                <div class="box box-secondary box-outline">

                    <div class="box-body">
                        <div class="text-center">
                            <i class="fa-solid fa-users fa-4x text-hlb-main" aria-hidden="true"></i>
                            <br />
                            <br />
                            <a class="text-hlb-main" href="/Company" style="cursor:pointer;">
                                <span class="h6">Company</span>
                            </a>
                            <br />
                            <span class="h7">Accounts Permission</span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4 col-lg-3 col-sm-6 col-xl-2">
                <div class="box box-secondary box-outline">

                    <div class="box-body">
                        <div class="text-center">
                            <i class="fa-solid fa-users fa-4x text-hlb-main" aria-hidden="true"></i>
                            <br />
                            <br />
                            <a class="text-hlb-main" href="/Company" style="cursor:pointer;">
                                <span class="h6">Department</span>
                            </a>
                            <br />
                            <span class="h7">Accounts Permission</span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4 col-lg-3 col-sm-6 col-xl-2">
                <div class="box box-secondary box-outline">

                    <div class="box-body">
                        <div class="text-center">
                            <i class="fa-solid fa-users fa-4x text-hlb-main" aria-hidden="true"></i>
                            <br />
                            <br />
                            <a class="text-hlb-main" href="/Company" style="cursor:pointer;">
                                <span class="h6">Employee</span>
                            </a>
                            <br />
                            <span class="h7">Accounts Permission</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-3 col-sm-6 col-xl-2">
                <div class="box box-secondary box-outline">

                    <div class="box-body">
                        <div class="text-center">
                            <i class="fa-solid fa-users fa-4x text-hlb-main" aria-hidden="true"></i>
                            <br />
                            <br />
                            <a class="text-hlb-main" href="/Company" style="cursor:pointer;">
                                <span class="h6">Dicepline</span>
                            </a>
                            <br />
                            <span class="h7">Accounts Permission</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-3 col-sm-6 col-xl-2">
                <div class="box box-secondary box-outline">

                    <div class="box-body">
                        <div class="text-center">
                            <i class="fa-solid fa-users fa-4x text-hlb-main" aria-hidden="true"></i>
                            <br />
                            <br />
                            <a class="text-hlb-main" href="/Company" style="cursor:pointer;">
                                <span class="h6">Sub Dicepline</span>
                            </a>
                            <br />
                            <span class="h7">Accounts Permission</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-3 col-sm-6 col-xl-2">
                <div class="box box-secondary box-outline">

                    <div class="box-body">
                        <div class="text-center">
                            <i class="fa-solid fa-users fa-4x text-hlb-main" aria-hidden="true"></i>
                            <br />
                            <br />
                            <a class="text-hlb-main" href="/Company" style="cursor:pointer;">
                                <span class="h6">Project</span>
                            </a>
                            <br />
                            <span class="h7">Accounts Permission</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-3 col-sm-6 col-xl-2">
                <div class="box box-secondary box-outline">

                    <div class="box-body">
                        <div class="text-center">
                            <i class="fa-solid fa-users fa-4x text-hlb-main" aria-hidden="true"></i>
                            <br />
                            <br />
                            <a class="text-hlb-main" href="/Company" style="cursor:pointer;">
                                <span class="h6">Contract</span>
                            </a>
                            <br />
                            <span class="h7">Accounts Permission</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>